<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago Generado</title>
</head>
<body>
    <div>
        <h1>Nuevo Pago</h1>
        <p>Se ha registrado un pago generado por {{name}},correo: {{emailPayment}}  la siguiente informacion: </p>
        <ul>
            <li>Concepto: {{concept}}</li>
            <li>Cantidad: ${{amount}}.00</li>
        </ul>
        <p>Para ver mas informacion acerca del pago por favor dirijase a: </p>
        <a href={{url}}/payments>{{url}}/payments</a>
        <p>Si usted no ha mandado este mensaje haga caso omiso a este mensaje</p>
    </div>
</body>
</body>
</html>