<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
</head>
<body>
    <h1>Hola {{ name }}</h1>
    <p>Si quieres recuperar tu cuenta en <strong>{{type}}</strong> tienes que entrar al siguiente link:</p>
    <a href={{url}}/recovery-my-password/{{token}}>{{url}}/recovery-my-password/{{token}}</a>
    <p>Si usted no ha mandado este mensaje haga caso omiso a este mensaje</p>
</body>
</html>